p, td {
  color: #6c757d;
  font-size: 1.25rem;
  font-weight: 300;
}

h1 {
  margin-bottom: 1rem !important;
}

.social-icon img {
  height: 2rem;
  opacity: 0.8;
  margin-left: 0.5rem;
  cursor: pointer;
}

.social-icon:first-of-type img {
  margin-left: 0px;
}

.procore_logo {
  margin-left: 5px;
  vertical-align: baseline;
  height: 28px;
}

.card-img-top {
  width: 40% !important;
  padding: 1.5rem;
}

.dot {
  height: var(--size);;
  width: var(--size);;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}
